<!doctype html>

<html>
<head>
  <title>RootSnap - Web</title>
  <meta content="width=device-width" name="viewport">
  <link href="../styles/bootstrap.css" rel="stylesheet">
  <link href="../styles/FamilySearch-Icons.css" rel="stylesheet">
  <link href="../styles/main.css" rel="stylesheet">
</head>

<body>
<div class="navbar navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        RootSnap
      </a>
    </div>
  </div>
</div>

<div class="container">


<div class="page-header">
	<h3 class="text-center"><small>Adding a Photo for</small> Pranas Paukstys</h3>
</div>
<h4 class="text-center">Choose a photo to upload to FamilySearch.org and attach to your ancestor's profile.</h4>
<br />
<div class="btn-group btn-group-justified">
  <a class="btn btn-default btn-lg" ng-click="capturePhoto()"><i class="fs-icon-camera"></i> Take Photo</a>
  <a class="btn btn-default btn-lg" class="btn btn-primary btn-lg" ng-click="{{choosePhoto()}}"><i class="fs-icon-albums"></i> Select Existing</a>
</div>
<br />

<div class="center-block">
    <img id="photo">
    <img id="spinner" src="vendor/topcoat/img/spinner2x.png">
</div>
</div>
</body>
</html>