<!doctype html>

<html>
<head>
  <title>RootSnap - Web</title>
  <meta content="width=device-width" name="viewport">
  <link href="../styles/bootstrap.css" rel="stylesheet">
  <link href="../styles/FamilySearch-Icons.css" rel="stylesheet">
  <link href="../styles/main.css" rel="stylesheet">
</head>

<body>
<div class="navbar navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        RootSnap
      </a>
    </div>
  </div>
</div>

<div class="container ng-scope" ng-view=""><div class="tree-family jumbotron ng-scope jumbo-female" ng-class="{'jumbo-male': person.isMale(), 'jumbo-female': !person.isMale()}">
  <div class="personWrapper">
    <span class="pid hidden-xs hidden-sm ng-binding">KW72-8QW</span>

    <div class="nameWrapper">
      <i class="icon-rounded hasImage fs-icon-female" ng-class="{hasImage: portraitStyle, 'fs-icon-male': person.isMale(), 'fs-icon-female': !person.isMale()}" style="background: url(https://integration.familysearch.org/sandbox/v2/TH-501-42579-0-64/dist.jpg) center center no-repeat; background-size:cover">
        &nbsp;</i> <h1 class="ng-binding">Grandmama Quasstrue</h1>
      <button class="btn btn-lg btn-default pull-right hidden-xs ng-scope forced-hide" ng-class="{'forced-hide': isMobile}" ng-controller="PhotoCtrl" ng-click="uploadPhoto()">Add Photo</button>
      <ul class="list-collapsed">
        <li class="lifeSpan ng-binding" title="1901 - 1961">1901-1961</li>
      </ul>
      <button class="btn btn-lg btn-default pull-right visible-xs ng-scope forced-hide" ng-class="{'forced-hide': isMobile}" ng-controller="PhotoCtrl" ng-click="uploadPhoto()">Add Photo</button>
    </div>
  </div>
  <div class="clearboth"></div>
</div>

<section class="album-content2 ng-scope">
  <!-- ngRepeat: photo in photos --><ul class="polaroids ng-scope" ng-repeat="photo in photos">
    <li>
      <a target="_blank" class="img-thumbnail" href="#" title="Test title">
          <img alt="Test title" class="" ng-src="https://integration.familysearch.org/sandbox/v2/TH-501-42578-16-69/thumb200.jpg?ctx=ArtCtxPublic" src="https://integration.familysearch.org/sandbox/v2/TH-501-42578-16-69/thumb200.jpg?ctx=ArtCtxPublic">
          <div ng-class="{'hide': !photo.getTitle() }" class="title ng-binding">Test title</div>
          <div ng-class="{'hide': !photo.getDescription() }" class="description ng-binding hide"></div>
      </a>
    </li>
  </ul><!-- end ngRepeat: photo in photos --><ul class="polaroids ng-scope" ng-repeat="photo in photos">
    <li>
      <a target="_blank" class="img-thumbnail" href="#" title="">
          <img alt="" class="" ng-src="https://integration.familysearch.org/sandbox/v2/TH-501-43326-0-69/thumb200.jpg?ctx=ArtCtxPublic" src="https://integration.familysearch.org/sandbox/v2/TH-501-43326-0-69/thumb200.jpg?ctx=ArtCtxPublic">
          <div ng-class="{'hide': !photo.getTitle() }" class="title ng-binding hide"></div>
          <div ng-class="{'hide': !photo.getDescription() }" class="description ng-binding hide"></div>
      </a>
    </li>
  </ul><!-- end ngRepeat: photo in photos -->
</section>

<br class="clearboth ng-scope"><br class="ng-scope"><br class="ng-scope">
</div>

    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div class="btn-group btn-group-justified ng-scope hidden-xs">
        <a class="btn btn-default btn-lg" ng-controller="PhotoCtrl" ng-click="takeMobilePhoto()"><i class="fs-icon-camera"></i> Capture Photo</a>
        <a class="btn btn-default btn-lg" ng-controller="PhotoCtrl" ng-click="selectMobilePhoto()"><i class="fs-icon-albums"></i> Choose Photo</a>
      </div>
      <div class="btn-group btn-group-justified ng-scope visible-xs">
        <a class="btn btn-default btn-lg" ng-controller="PhotoCtrl" ng-click="takeMobilePhoto()"><i class="fs-icon-camera"></i> Capture</a>
        <a class="btn btn-default btn-lg" ng-controller="PhotoCtrl" ng-click="selectMobilePhoto()"><i class="fs-icon-albums"></i> Choose</a>
      </div>      
    </nav>

</body>
</html>