<div class="row">
  <div class="col-sm-12">
    <table class="searchResultsTable grid table table-striped table-hover tree-family" id="">
      <colgroup>
        <col style="width:33%">
        <col style="width:66%">
      </colgroup>
      <thead class="hiddenHeader" style="">
      <tr>
        <th class="personHeader">Person</th>
        <th class="eventsHeader">Events</th>
      </tr>
      </thead>
      <tbody class="resultsRecords">
      <tr class="person" ng-repeat="person in ancestry">
        <td>
          <div class="personWrapper">
            <div class="nameWrapper">
              <i class="icon-rounded" ng-class="{'fs-icon-male': person.rsIsMale(), 'fs-icon-female': !person.rsIsMale()}">&nbsp;</i>
              <a href="" class="personcard name" ng-click="select(person)">{{person.display.name}}</a>
            </div>
            <ul class="list-collapsed">
              <li class="pid">{{person.id}}</li>
            </ul>
          </div>
        </td>
        <td class="primaryEvents">
          <div class="event clearfix">
            <span class="eventName hidden-xs hidden-sm">birth</span><span class="eventName visible-xs visible-sm">b.</span>
            <span class="eventDate">{{person.display.birthDate}}</span>
            <span class="eventPlace"><span ng-show="person.display.birthPlace">,&nbsp;</span>{{person.display.birthPlace}}</span>
          </div>
          <div class="event clearfix">
            <span class="eventName hidden-xs hidden-sm">death</span><span class="eventName visible-xs visible-sm">d.</span>
            <span class="eventDate">{{person.display.deathDate}}</span>
            <span class="eventPlace"><span ng-show="person.display.deathPlace">,&nbsp;</span>{{person.display.deathPlace}}</span>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>