<div class="tree-family jumbotron">
  <div class="personWrapper">
    <span class="pid hidden-xs hidden-sm">{{person.id}}</span>

    <div class="nameWrapper">
      <i class="fs-icon-male icon-rounded" ng-class="{hasImage: portraitStyle}" style="{{portraitStyle}}">&nbsp;</i>
      <h1>{{person.display.name}}</h1>
      <div class="btn btn-lg btn-default btn-file pull-right">
        Add photo <input type="file" onchange="angular.element(this).scope().uploadFile(this)">
      </div>
      <ul class="list-collapsed">
        <li class="lifeSpan" title="{{person.display.birthDate}} - {{person.display.deathDate}}">{{person.display.lifespan}}</li>
      </ul>
    </div>
  </div>
  <div class="clearboth"></div>
</div>

<section class="album-content">
  <div masonry id="container" class="photos-container">
    <div class="masonry-brick" ng-repeat="photo in photos">
      <a href="{{photo.$getImageUrl()}}">
        <img ng-src="{{photo.$getThumbnailURL()}}">
      </a>
      <div class="photoTitle">{{photo.$getTitle()}}</div>
    </div>
  </div>
</section>
