<div class="tree-family jumbotron">
  <div class="personWrapper">
    <span class="pid hidden-xs hidden-sm">277H-SWR</span>

    <div class="nameWrapper">
      <!--
                      If no image, remove the hasImage class and all of the style=""
      -->
      <i class="fs-icon-male icon-rounded hasImage" style=
          "background: url(https://familysearch.org/patron/v2/TH-233-35519-17-58/thumb200s.jpg?ctx=ArtCtxPublic) center center no-repeat; background-size:cover;">
        &nbsp;</i> <h1>Pranas Paukstys</h1>
      <button class="btn btn-lg btn-default pull-right">Add Photo</button>
      <ul class="list-collapsed">
        <li class="lifeSpan" title="August 16, 1919 - March 17, 1971">1919-1971</li>
      </ul>
    </div>
  </div>
  <div class="clearboth"></div>
</div>

<div class="familyWidgetContainer">
  <div class="page-header">
    <h3 id="grid">Family Members</h3>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-primary family-panel">
        <div class="panel-heading">
          <h4 class="panel-title">Spouses and Children</h4>
        </div>

        <div class="panel-body spouses-children">
          <div class="panel panel-default tree-family">
            <div class="panel-heading">
              <div class="connector">
                &nbsp;
              </div>

              <div class="coupleWrapper">
                <div class="personWrapper">
                  <div class="nameWrapper">
                    <i class="fs-icon-male icon-rounded">&nbsp;</i>
                    <span class="male personcard name">Pranas Paukstys</span>
                  </div>

                  <ul class="list-collapsed">
                    <li class="lifeSpan" title="August 16, 1919 - March 17, 1971">1919-1971</li>
                    <li class="separator">-</li>
                    <li class="pid">277H-SWR</li>
                  </ul>
                </div>

                <div class="personWrapper">
                  <div class="nameWrapper">
                    <i class="fs-icon-female icon-rounded">&nbsp;</i>
                    <span class="male personcard name">Kazimiera Gurinskaite</span>
                  </div>

                  <ul class="list-collapsed">
                    <li class="lifeSpan" title="January 21, 1921 - ">1921-Living</li>
                    <li class="separator">-</li>
                    <li class="pid">277H-3CL</li>
                  </ul>
                </div>
              </div>

              <div class="clearboth">
                &nbsp;
              </div>
            </div>

            <div class="panel-body">
              <table class="table-hover">
                <tbody>
                <tr>
                  <td>
                    <div class="personWrapper">
                      <div class="nameWrapper">
                        <i class="fs-icon-female icon-rounded">&nbsp;</i>
                        <span class="male personcard name">Birute Marija Paukstys</span>
                      </div>

                      <ul class="list-collapsed">
                        <li class="lifeSpan" title="December 19, 1946 - June 26, 2007">1946-2007</li>
                        <li class="separator">-</li>
                        <li class="pid">277H-R63</li>
                      </ul>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="personWrapper">
                      <div class="nameWrapper">
                        <i class="fs-icon-male icon-rounded">&nbsp;</i>
                        <span class="male personcard name">Romualdas Bronius Paukstys</span>
                      </div>

                      <ul class="list-collapsed">
                        <li class="lifeSpan" title="October 12, 1939 - ">1939-Living</li>
                        <li class="separator">-</li>
                        <li class="pid">2774-Z86</li>
                      </ul>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class=" col-sm-6">
      <div class="panel panel-primary family-panel">
        <div class="panel-heading">
          <h4 class="panel-title">Parents and Children</h4>
        </div>

        <div class="panel-body parents-children">
          <div class="panel panel-default tree-family">
            <div class="panel-heading">
              <div class="connector">
                &nbsp;
              </div>

              <div class="coupleWrapper">
                <div class="personWrapper">
                  <div class="nameWrapper">
                    <i class="fs-icon-male icon-rounded">&nbsp;</i>
                    <span class="male personcard name">Bronius Paukstys</span>
                  </div>

                  <ul class="list-collapsed">
                    <li class="lifeSpan" title=" - ">Deceased</li>
                    <li class="separator">-</li>
                    <li class="pid">L851-NPH</li>
                  </ul>
                </div>

                <div class="personWrapper">
                  <div class="nameWrapper">
                    <i class="fs-icon-female icon-rounded">&nbsp;</i>
                    <span class="male personcard name">Mrs Paukstys</span>
                  </div>

                  <ul class="list-collapsed">
                    <li class="lifeSpan" title="July 19, 2012 - ">2012-Deceased</li>
                    <li class="separator">-</li>
                    <li class="pid">LDJS-T6K</li>
                  </ul>
                </div>
              </div>

              <div class="clearboth">
                &nbsp;
              </div>
            </div>

            <div class="panel-body">
              <table class="table-hover">
                <tbody>
                <tr>
                  <td>
                    <h3>No children</h3>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="album-content" data-control="Masonry">
  <div id="container" class="photos-container">
    <div id="photo-2786665" class="box photo col2 sharp-shadow">
      <a href="https://familysearch.org/photos/images/2786665?cc=UNKNOWN">
        <img class="approved lazy placeholder-img" src="https://familysearch.org/patron/v2/TH-300-40950-31-2/thumb200.jpg?ctx=ArtCtxPublic&amp;angle=0" alt="Ancestor Photo">
      </a>
      <div class="photoTitle"></div>
    </div>
    <div id="photo-2786656" class="box photo col2 sharp-shadow">
      <a href="https://familysearch.org/photos/images/2786656?cc=UNKNOWN">
        <img class="approved lazy placeholder-img" src="https://familysearch.org/patron/v2/TH-300-40950-22-97/thumb200.jpg?ctx=ArtCtxPublic&amp;angle=0" alt="{{title}}" width="{{width}}" height="{{height}}" style="height:{{width}}px; width:{{height}}px">
      </a>
      <div class="photoTitle"></div>
    </div>
    <div id="photo-2786649" class="box photo col2 sharp-shadow">
      <a href="https://familysearch.org/photos/images/2786649?cc=UNKNOWN">
        <img class="approved lazy placeholder-img" src="https://familysearch.org/patron/v2/TH-301-40950-19-28/thumb200.jpg?ctx=ArtCtxPublic&amp;angle=0" alt="{{title}}" width="{{width}}" height="{{height}}" style="height:{{width}}px; width:{{height}}px">
      </a>
      <div class="photoTitle"></div>
    </div>
    <div id="photo-166704" class="box photo col2 sharp-shadow">
      <a href="https://familysearch.org/photos/images/166704?cc=UNKNOWN">
        <img class="approved lazy placeholder-img" src="https://familysearch.org/patron/v2/TH-235-35519-16-47/thumb200.jpg?ctx=ArtCtxPublic&amp;angle=0" alt="{{title}}" width="{{width}}" height="{{height}}" style="height:{{width}}px; width:{{height}}px">
      </a>
      <div class="photoTitle">Dovydas Romualdas Paukstys</div>
    </div>
    <div id="photo-166676" class="box photo col2 sharp-shadow">
      <a href="https://familysearch.org/photos/images/166676?cc=UNKNOWN">
        <img class="approved lazy placeholder-img" src="https://familysearch.org/patron/v2/TH-230-35519-3-78/thumb200.jpg?ctx=ArtCtxPublic&amp;angle=0" alt="{{title}}" width="{{width}}" height="{{height}}" style="height:{{width}}px; width:{{height}}px">
      </a>
      <div class="photoTitle">Dovydas Romualdas Paukstys</div>
    </div>
    <div id="photo-232" class="box photo col2 sharp-shadow">
      <a href="https://familysearch.org/photos/images/232?cc=UNKNOWN">
        <img class="approved lazy placeholder-img" src="https://familysearch.org/patron/v2/TH-235-31775-4-34/thumb200.jpg?ctx=ArtCtxPublic&amp;angle=0" alt="{{title}}" width="{{width}}" height="{{height}}" style="height:{{width}}px; width:{{height}}px">
      </a>
      <div class="photoTitle"></div>
    </div>
  </div>
</section>
